# Mac
.DS_Store

# Python
__pycache__

# Editors
.idea

# Jupyter
.ipynb_checkpoints

# Generated data folder
datasets/generated/odi_nhs_ae/*
!datasets/generated/odi_nhs_ae/test_reference.csv
!datasets/generated/odi_nhs_ae/hospital_ae_data.csv
