# Mac
.DS_Store
.history

# Python
__pycache__
venv

# Editors
.idea
.vscode

# Jupyter
.ipynb_checkpoints

# Generated data folder
datasets/generated/odi_nhs_ae/*
!datasets/generated/odi_nhs_ae/test_deidentify_reference.csv
!datasets/generated/odi_nhs_ae/hospital_ae_data.csv
!datasets/generated/odi_nhs_ae/hospital_ae_data_deidentify.json
!datasets/generated/odi_nhs_ae/hospital_ae_data.json

# Generated data tests
generators/odi-nhs-ae/test-data/*.csv
!generators/odi-nhs-ae/test-data/test_reference.csv

# Synth output folder
synth-output

# Generator output folder
generator-outputs

# Large files
generators/odi-nhs-ae/data/London\ postcodes.csv
.Rproj.user
