# Mac
.DS_Store

# Python
__pycache__

# Editors
.idea

# Jupyter
.ipynb_checkpoints

# Generated data folder
datasets/generated/odi_nhs_ae/*
!datasets/generated/odi_nhs_ae/test_deidentify_reference.csv
!datasets/generated/odi_nhs_ae/hospital_ae_data.csv
!datasets/generated/odi_nhs_ae/hospital_ae_data_deidentify.json
!datasets/generated/odi_nhs_ae/hospital_ae_data.json

# Generated data tests
generators/odi-nhs-ae/test-data/*.csv
!generators/odi-nhs-ae/test-data/test_reference.csv

# Large files
generators/odi-nhs-ae/data/London\ postcodes.csv
